<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<title>Front Page</title>
</head>

<body>

<!--  Dependencies -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>


<h2>Login Page</h2>

<!-- The html form elements. The Login button will run the function in the controller below. -->
<div ng-app="myApp" ng-controller="formCtrl" ng-init="user={}" ng-model="userMessage">
  <form novalidate>
    Email:<br>
    <input type="text" ng-model="user.email"><br>
    Password:<br>
    <input type="text" ng-model="user.password">
    <br><br>
    <button ng-click="login(user.email, user.password)">Login</button>
  </form>
  
  <!-- Dynamically displays "Invalid login. Try again", when user logs in with wrong info. -->
  <h3>{{userMessage}}</h3>
  
</div>



<!-- AngularJS logic functionality -->
<script>
/* 
//Runs the "get all students GET method" and prints to console the first item's firstname variable.
/* var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope, $http) {
    $http.get("http://localhost:8085/KinderSpot/1/students")
    .then(function(response) {
        $scope.content = response.data;
        $scope.statuscode = response.status;
        $scope.statustext = response.statustext; 
        console.log("content: " + $scope.content);
        console.log("statuscode: " + $scope.statuscode);
        console.log("statustext: " + $scope.statustext);
    });
}); */

//Runs the login Controller's POST method, passing in the user's form inputs as parameters. 
//The function is run when the user clicks the login button.
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope, $http, $location, $window) {
	
	//Gets the email and password from the user's form submit. Then runs the Login Controller's POST method.
	$scope.login = function(email, pass){
		$scope.myEmail = email;
		$scope.myPass = pass;
		
		$http({
            url: '/KinderSpot/home',
            method: "POST",
            data: { "email": $scope.myEmail,
      				"password": $scope.myPass		},
      		headers: {'Content-Type': 'application/json'}
        })
        .then(function(response) {
        	//success
            //console.log("email: " + response.data.email);
        	//console.log("password: " + response.data.password);
        	if(response.data.email === undefined && response.data.password === undefined)
        	{
        		//failed login
        		$scope.userMessage = "Invalid login. Try again.";
        	}
        	else
        	{
        		//sucessful login
        		$scope.userMessage = "Logging in...";
        		
        		//Checks user's role and sends them to appropriate login home page.
        		if(response.data.userRole.name === "Parent")
        			$window.location.href = '/KinderSpot/resources/pages/ParentHome.html';
        		else
        			$window.location.href = '/KinderSpot/resources/pages/TeacherHome.html';
        	}
        }, 
        function(response) { // optional
                // failed
        		console.log("Failed.");
        });
		
	}//ends $scope.userInfo()
}); //ends app.controller()

</script>










</body>
</html>