<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<title>Login Page</title>


<style>
body {
	background-image:
		url("/KinderSpot/resources/themes/crayonBackground.jpg");
	background-size: 100% 175%;
	background-repeat: no-repeat;
}

#loginForm {
	text-align: center;
	margin: auto;
	width: 60%;
	border: 3px solid #73AD21; 
	padding: 30px;
	transform: translate(0%, 35%);  
}

h2, h3, #innerForm {
	font-family: marker
}

@font-face { font-family: marker; src: url("/KinderSpot/resources/fonts/PWMarker.ttf") }

</style>

</head>

<body ng-app="myApp">

<div ui-view></div> <!-- Placeholder -->

<!--  Dependencies -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>




<!-- The html form elements. The Login button will run the function in the controller below.
	 create a controller object called 'user'(user ={})	 -->

<!-- The html form elements. The Login button will run the function in the controller below. -->
<div ng-app="myApp" ng-controller="loginCtrl" ng-init="user={}" ng-model="userMessage" id="loginForm" >
  <h2>KinderSpot</h2><br>
  <form novalidate id="innerForm" class="w3-container">
    Email:<br>
    <!-- c  -->
    <input type="text" ng-model="user.email" class="w3-input w3-border w3-sand w3-hover-green"><br>
    Password:<br>
    <input type="password"  ng-model="user.password" class="w3-input w3-border w3-sand w3-hover-green">
    <br><br>
    <!-- S -->
    <button ng-click="login(user.email, user.password)" class="w3-btn w3-green">Login</button>
  </form>
  
  <!-- Dynamically displays "Invalid login. Try again", when user logs in with wrong info. -->
  <h3>{{userMessage}}</h3>
  
</div>



<!-- Custom Script -->
<script type="text/javascript" src="javascript/controllers.js"></script>










</body>
</html>