<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">     
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
   <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.1.js"></script>
   <script src="example.js"></script>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
      
<title>Teacher Homepage</title>

<style>

 body {
	background-image: url("/KinderSpot/resources/themes/greenBoard.jpg");
	/* background-size: 100% 175%; */
	background-size: cover;
	background-repeat: no-repeat;
} 

@font-face { font-family: chalky; src: url("/KinderSpot/resources/fonts/SimplyChalky.ttf") }
@font-face { font-family: lemonMilk; src: url("/KinderSpot/resources/fonts/LemonMilk.otf") }
@font-face { font-family: marker; src: url("/KinderSpot/resources/fonts/PWMarker.ttf") }
@font-face { font-family: chalkboard; src: url("/KinderSpot/resources/fonts/chalkboard.ttf") }
@font-face { font-family: brokenchalk; src: url("/KinderSpot/resources/fonts/BrokenChalk.ttf") }

h3, h2, h5 {
	font-family: chalky;
	color: white; 
}

th, tr {
	font-family: chalky; 
	color: white;
}

</style>

</head>
<body>



<!--  Dependencies -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

	<!-- These values are referenced in the controllers to get database values to be displayed below
     in {{expressions}}. -->
	<input type="hidden" ng-model="loggedInUser" />
	<input type="hidden" ng-model="teacherHomeData.myStudents" />
	<input type="hidden" ng-model="teacherHomeData.myMeetings" />
	<input type="hidden" ng-model="teacherHomeData.myEvents" />
	<input type="hidden" ng-model="teacherHomeData.myAttendanceEntry" />
	

	<div ng-app="myApp" ng-controller="teacherHomeCtrl">
		<nav class="w3-sidenav w3-black w3-card-2" style="width: 130px">
			<div class="w3-container">
				<h5>Menu</h5>
			</div>
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('studentsDiv')">Class</a> 
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('meetingsDiv')">Meetings</a> 
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('eventsDiv')">Events</a>
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('emailDiv')">Email</a>
			<a href="#" class="tablink" ng-click="">Logout</a>
		</nav>

		<!-- Div container below needed to push everything to the right of the sidenav. -->
		<div style="margin-left:140px">
		<h2>Teacher Home: welcome {{teacherHomeData.loggedInUser}}</h2>


		<div id="studentsDiv" style="display:none" class="w3-container city w3-animate-left">
			<!-- Loops through our students list obtained from the database, then displayed below. -->
			
			<h2>My students:</h2>
			<table class="w3-table w3-border w3-bordered" style="width:75%">
				<tr>
					<th>Name</th>
					<th>Student Link</th>
					<th>Parent</th>
				</tr>
				<tr ng-repeat="x in teacherHomeData.myStudents">
					<td>{{x.firstName}}</td>
					<td><button class="w3-btn w3-transparent w3-border w3-round-large" 
						ng-click="teacherHomeData.viewStudent(x.id)">View</button></td>
					<td>{{ x.parent.firstName }}</td>
				</tr>
			</table>
			
			<br>
			<h5 ng-bind="teacherHomeData.attendanceMessage"></h5>
	    	<button type="button" class="btn btn-default" ng-click="teacherHomeData.open()">
	    		{{teacherHomeData.hasSubmittedAttendance ? "Edit Attendance Sheet" : "Submit Attendance Sheet"}}
	    	</button>
		
		</div>


		<div id="meetingsDiv" style="display:none" class="w3-container city w3-animate-left">
		<div ng-controller="DatepickerDemoCtrl">
		<form id="meetingForm" novalidatestyle="font-family: chalky; color: white">
			<h2>My Meetings:</h2>
			
			<table class="w3-table w3-border w3-bordered" style="width:75%">
				<tr>
					<th>Parent</th>
					<th>Reason</th>
					<th>Date Scheduled</th>
				</tr>
				<tr ng-repeat="m in teacherHomeData.myMeetings">
					<td>{{m.parent.firstName}}</td>
					<td>{{ m.reason }}</td>
					<td>{{ m.date | date:'MMM d, yyyy h:mm a' }}</td>
				</tr>
			</table>
			
			<h3>Select Parent</h3>
			
			<select form = "parentForm" ng-model = "teach.parent" required> 
				<option ng-repeat ="x in teacherHomeData.myStudents" value ="{{x.id + 1}}">{{x.parent.firstName}}</option>
			</select>
			
			<h3>Create New Meeting</h3>
			<input type="text" ng-model="teach.reason" />
			
			<h3> Select Date</h3>
			<input type = "date" ng-model = "dt" value = "{{dt| date: 'fullDate'}}" name = "bdatetime" id = "datetimepicker" />
			 <!-- Calendar  -->
	   		 <div style="display:inline-block; min-height:290px;">
	    	   <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
	    	</div>
	
	    	<hr />
	   		 <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
	   		 <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2016, 8, 13)">2016-08-13</button>
	    	 <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
	    	 <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
		<!-- Calendar  -->
			<br>
			<br>
			<button ng-click="teacherHomeData.createMeeting(teach.parent, teach.reason,dt)">Create Meeting</button>
			
			</form>
		</div>

		</div>


		<div id="eventsDiv" style="display:none" class="w3-container city w3-animate-left">
		<div ng-controller="DatepickerDemoCtrl">
		<form id = "eventForm" novalidatestyle = "font-family :chalky; color: white">
		<h2>My Events:</h2>
		
		<h3>Event Name</h3>

		<input type = "text" ng-model = "event.name"/>
	
		<h3>Description</h3>
		
		<input type = "text" ng-model ="event.description"/>
		
		<h3>Select Date </h3>
		<input type = "date" ng-model = "dt" value = "{{dt| date: 'fullDate'}}" name = "bdatetime" id = "datetimepicker" />
		
		<!--  <pre>Selected date is: <em>{{dt | date:'fullDate'}}</em></pre> -->
		
	    <!-- Calendar  -->
	    <div style="display:inline-block; min-height:290px;">
	      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
	    </div>
	
	    <hr />
	    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
	    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2016, 8, 13)">2016-08-13</button>
	    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
	    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
		<!-- Calendar  -->
		
		<br>
		<br>
		<button ng-click = "teacherHomeData.createEvents(event.name, event.description, dt)">Post New Event</button>
		
		</form>
		</div>
		
		
		<table class="">
			<tr>
				<th>Event</th>
				<th>Description</th>
				<th>Date</th>

			</tr>
			<tr ng-repeat="e in teacherHomeData.myEvents">
				<td>{{ e.name }}</td>
				<td>{{ e.description }}</td>
				<td>{{ e.date |date:'medium'}}</td>
			</tr>
		</table>
		
		</div>
	
	


		<div id="emailDiv" style="display:none" class="w3-container city w3-animate-left">
				<form id="studentform" novalidatestyle="font-family: chalky; color: white">
					<h3>Recipient:</h3> <select style="color: black" name="studentlist"
						form="studentform" ng-model="user.recipient" required>
						<option value="All">All</option>
						<option ng-repeat="x in teacherHomeData.myStudents"
							value="{{x.id}}">{{x.parent.firstName}}</option>
					</select> <br> <h3>Subject:</h3><br> <input type="text"
						ng-model="user.subject" style="color: black" required><br>
					<h3>Body:</h3><br>
					<textarea rows="5" ng-model="user.body" style="color: black"
						autocomplete="off" required></textarea>
					<br>
					<br>
					<button
						ng-click="teacherHomeData.emailParent(user.recipient, user.subject, user.body)">Send</button>
				</form>
			</div>
		</div>
	</div>


	<!-- Custom Script -->
	<script type="text/javascript" src="javascript/controllers.js"></script>


</body>
</html>









