<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<title>Teacher Homepage</title>


<style>

 body {
	background-image: url("/KinderSpot/resources/themes/greenBoard.jpg");
	/* background-size: 100% 175%; */
	background-size: cover;
	background-repeat: no-repeat;
} 

@font-face { font-family: chalky; src: url("/KinderSpot/resources/fonts/SimplyChalky.ttf") }
@font-face { font-family: lemonMilk; src: url("/KinderSpot/resources/fonts/LemonMilk.otf") }
@font-face { font-family: marker; src: url("/KinderSpot/resources/fonts/PWMarker.ttf") }
@font-face { font-family: chalkboard; src: url("/KinderSpot/resources/fonts/chalkboard.ttf") }
@font-face { font-family: brokenchalk; src: url("/KinderSpot/resources/fonts/BrokenChalk.ttf") }

h3, h2 {
	font-family: chalky;
	color: white; 
}

th, tr {
	font-family: chalky; 
	color: white;
}

</style>

</head>
<body>



<!--  Dependencies -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

	<!-- These values are referenced in the controllers to get database values to be displayed below
     in {{expressions}}. -->
	<input type="hidden" ng-model="loggedInUser" />
	<input type="hidden" ng-model="teacherHomeData.myStudents" />
	<input type="hidden" ng-model="teacherHomeData.myMeetings" />
	<input type="hidden" ng-model="teacherHomeData.myEvents" />
	

	<div ng-app="myApp" ng-controller="teacherHomeCtrl">
		<nav class="w3-sidenav w3-black w3-card-2" style="width: 130px">
			<div class="w3-container">
				<h5>Menu</h5>
			</div>
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('studentsDiv')">Class</a> 
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('meetingsDiv')">Meetings</a> 
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('eventsDiv')">Events</a>
			<a href="" class="tablink" ng-click="teacherHomeData.showDisplay('emailDiv')">Email</a>
			<a href="#" class="tablink" ng-click="">Logout</a>
		</nav>

		<!-- Div container below needed to push everything to the right of the sidenav. -->
		<div style="margin-left:140px">
		<h2>Teacher Home: welcome {{teacherHomeData.loggedInUser}}</h2>


		<div id="studentsDiv" style="display:none" class="w3-container city w3-animate-left">
		<!-- Loops through our students list obtained from the database, then displayed below. -->
		<h2>My students:</h2>
		<table class="w3-table w3-border w3-bordered" style="width:75%">
			<tr>
				<th>Name</th>
				<th>Student Link</th>
				<th>Parent</th>
			</tr>
			<tr ng-repeat="x in teacherHomeData.myStudents">
				<td>{{x.firstName}}</td>
				<td><button class="w3-btn w3-transparent w3-border w3-round-large" 
					ng-click="teacherHomeData.viewStudent(x.id)">View</button></td>
				<td>{{ x.parent.firstName }}</td>
			</tr>
		</table>
		
		<div>
    		<script type="text/ng-template" id="myModalContent.html">
        		<div class="modal-header">
            		<h3 class="modal-title" style="color: black">Attendance</h3>
        		</div>
        		<div class="modal-body">
            		<table class="table">
						<tr>
							<th>Name</th>
							<th>Present</th>
						</tr>
						<tr ng-repeat="student in teacherHomeData.myStudents">
							<td ng-bind="student.firstName + ' ' + student.lastName" ng-model="teacherHomeData.myAttendanceEntry.name"></td>
							<td>
								<input type="checkbox" ng-model="teacherHomeData.myAttendanceEntry.present">
							</td>
						</tr>
					</table>
        		</div>
        		<div class="modal-footer">
            		<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        		</div>
    		</script>

    		<button type="button" class="btn btn-default" ng-click="teacherHomeData.open()">Submit Attendance</button>
		</div>
		
		</div>


		<div id="meetingsDiv" style="display:none" class="w3-container city w3-animate-left">
		<div ng-app="myApp" ng-controller="teacherHomeCtrl" ng-init="teach={}"
			ng-model="userMessage" id="loginForm">
			<h2>My Meetings:</h2>
			<h3>Create New Meeting</h3>
			<input type="text" ng-model="teach.reason" />
			<button ng-click="teacherHomeData.createMeeting(teach.reason)">Create Meeting</button>
		</div>

		<table class="">
			<tr>
				<th>Type</th>
				<th>Date Scheduled</th>
			</tr>
			<tr ng-repeat="m in teacherHomeData.myMeetings">
				<td>{{ m.reason }}</td>
				<td>{{ m.date | date:'medium' }}</td>
			</tr>
		</table>
		</div>

		<div id="eventsDiv" style="display:none" class="w3-container city w3-animate-left">
		<h2>My Events:</h2>
		<table class="">
			<tr>
				<th>Event</th>
				<th>Description</th>
				<th>Date</th>

			</tr>
			<tr ng-repeat="e in teacherHomeData.myEvents">
				<td>{{ e.name }}</td>
				<td>{{ e.description }}</td>
				<td>{{ e.date |date:'medium'}}</td>
			</tr>
		</table>
		<br><br>
		</div>

		<div id="emailDiv" style="display:none" class="w3-container city w3-animate-left">
				<form id="studentform" novalidatestyle="font-family: chalky; color: white">
					<h3>Recipient:</h3> <select style="color: black" name="studentlist"
						form="studentform" ng-model="user.recipient" required>
						<option value="All">All</option>
						<option ng-repeat="x in teacherHomeData.myStudents"
							value="{{x.id}}">{{x.parent.firstName}}</option>
					</select> <br> <h3>Subject:</h3><br> <input type="text"
						ng-model="user.subject" style="color: black" required><br>
					<h3>Body:</h3><br>
					<textarea rows="5" ng-model="user.body" style="color: black"
						autocomplete="off" required></textarea>
					<br>
					<br>
					<button
						ng-click="teacherHomeData.emailParent(user.recipient, user.subject, user.body)">Send</button>
				</form>
			</div>
		</div>
	</div>


	<!-- Custom Script -->
	<script type="text/javascript" src="javascript/controllers.js"></script>


</body>
</html>









