<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<title>Teacher Homepage</title>
</head>
<body>

<!--  Dependencies -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>

<div ng-app="myApp" ng-controller="teacherHomeCtrl"></div>

<!-- These values are referenced in the controllers to get database values to be displayed below
     in {{expressions}}. -->
<input type="hidden" ng-model="loggedInUser" />
<input type="hidden" ng-model="teacherHomeData.myStudents" />
<input type="hidden" ng-model ="teacherHomeData.myMeetings"/>
<input type="hidden" ng-model ="teacherHomeData.myEvents"/>


<h2>Teacher Home: welcome {{teacherHomeData.loggedInUser}}</h2>


<!-- Loops through our students list obtained from the database, then displayed below. -->
<h2>My students:</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
  </tr>
  <tr ng-repeat="x in teacherHomeData.myStudents">
    <td id="{{x.id}}" ng-click="teacherHomeData.viewStudent(x.id)">{{x.firstName}}</td>
    <td>{{ x.parent.firstName }}</td> 
  </tr>
</table>


<div ng-app="myApp" ng-controller="loginCtrl" ng-init="teach={}" ng-model="userMessage" id="loginForm">
<h2>My Meetings:</h2>
<h3>Create New Meeting</h3>
<input type ="text" ng-model ="teacherHomeData.createNewMeeting.description" />

</div>

<table>
<tr>
	<th>Type</th>
	<th>Date Scheduled</th>
</tr>

	<tr ng-repeat ="m in teacherHomeData.myMeetings" >
		<td>{{ m.reason }}</td>
		<td>{{ m.date | date:'medium' }}</td>
	</tr>
</table>


<h2>My Events:</h2>
<table>
<tr>
 <th>Event</th>
 <th>Description</th>
 <th>Date</th>

</tr>
	<tr ng-repeat ="e in teacherHomeData.myEvents" >
		<td>{{ e.name }}</td>
		<td>{{ e.description }}</td>
		<td>{{ e.date |date:'medium'}}</td>
	</tr>
</table>

<br><br>

<form id="studentform" novalidate>
	Recipient:<br>
	<select name="studentlist" form="studentform" ng-model="user.recipient" required>
		<option ng-repeat ="x in teacherHomeData.myStudents" value="{{x.id}}">
			{{x.firstname}}
		</option>
	</select>
    Subject:<br>
    <input type="text" ng-model="user.subject" required><br>
    Body:<br>
    <textarea rows="5" ng-model="user.body" autocomplete="off" required></textarea>
    <br><br>
    <button ng-click="parentHomeData.emailParent(user.recipient, user.subject, user.body)">Send</button>
</form>

<!-- Custom Script -->
<script type="text/javascript" src="javascript/controllers.js"></script> 


</body>
</html>