<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student View</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body ng-app="myApp">
	<!--  Dependencies -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>

	

	<div ng-controller="viewStudentCtrl">
		<input type="hidden" ng-model="viewStudentData.currentStudent" />
		<input type="hidden" ng-model="viewStudentData.currentReportCard">
		<input type="hidden" ng-model="viewStudentData.currentAttendance">
		<input type="hidden" ng-model="viewStudentData.currentBadges">
		<h2>View Student: <span ng-bind="viewStudentData.currentStudent.firstName"></span></h2>
		
		<h2>Grade: <span ng-bind="viewStudentData.currentReportCard.grade"></span></h2>
		
		<h2>Recent attendance:</h2>
		<table>
			<tr>
				<th>Date</th>
				<th>Present</th>
			</tr>
			<tr ng-repeat="att in viewStudentData.currentAttendance">
				<td ng-bind="att.attendance.date | date : mediumDate"></td>
				<td ng-bind="att.present"></td>
			</tr>
		</table>
		
		<h2>Badges</h2>
			<table>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Image</th>
				</tr>
				<tr ng-repeat="bad in viewStudentData.currentBadges">
					<td ng-bind="bad.name"></td>
					<td ng-bind="bad.description"></td>
					<td >
						<img ng-src="{{bad.photo}}"/>
					</td>
				</tr>
			</table>
			
	</div>


</body>
</html>